@import url('https://fonts.googleapis.com/css2?family=BenchNine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

/* HEADER */

html{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
body{
    margin: 0;
    margin-top: -19px;
    padding: 0;
}

.wrapper{
    width: 75%; /* 1440px */
    height: 111.6875rem; /* 1787px */ 
    margin: 0 auto;
}

header{
    margin-top: 0;
    width: 100%;
    height: 34.625rem; /* 554px */
    margin-bottom: 0;
}

.header-bgi{
    position: absolute;
    top: 0;
    z-index: -2;
}

.logo{
    position: absolute;
    margin-left: 8.33333%; /* 120px */ 
    top: 0px;
}
h1{
    padding-left: 37.1527777%; /* 535px */
    padding-top: 1.5rem;
    word-spacing: 0.25rem;
    font-weight: bold;
    font-family: 'BenchNine', sans-serif;
    font-size: 1.75rem;
    line-height: 2.3125rem;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

ul, li{
    font-family: 'BenchNine', sans-serif;
    display: inline;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 2.3125rem;
    display: flex;
    align-items: center;
    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-right: 4%; /* 30px */
    
}

nav{
    margin-left: 31.6666%; /* 456px */
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #D0D0D0;
}

/* SEARCH */

.search{
    position: absolute;
    width: 41.8%; /* 794px */
    height: 12rem;
    margin-left: 16%; /* 323px */
    top: 14.625rem;

    background: rgba(255, 255, 255, 0.54);
    border-radius: 5px;
}

.search .content{
    margin-left: 3.77833%; /* 30px */
    margin-top: 2.0625rem;
}

input[type="text"], input[type="number"], input[type="date"]{
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
    margin: 0;
    padding: 0;
    margin-right: 3.77833%; /* 30px */
    margin-bottom: 2.375rem;

    padding-top: 0.3125rem;
    padding-left: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;

    align-items: center;

    color: black;
}

input[type="text"]::placeholder, input[type="number"]::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;

    align-items: center;

    color: #A3A3A3;
}

.input{
    width: 33.5012%; /* 266px */
    height: 2.75rem; 
}

.input-sm{
    width: 16.4987%; /* 131px */
    height: 2.75rem;
}

.btn-find{
    width: 16.4987%; /* 131px */
    height: 2.75rem;

    margin: 0;
    padding: 0;
    background: #E0228D;
    border: 1px solid #D11C82;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Aclonica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
}

/* MAIN */

main{
    width: 100%;
}

.gallary{ 
    width: 1440px;
    height: 540px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.gallary-img{
    margin-left: 120px;
    padding-top: 70px;
}
.gallary .top-img{
    width: 389px;
    height: 192px;

    margin-right: 16px;
    margin-bottom: 16px;
    background: url(image.png);
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.25));
}

.gallary .bottom-img{
    width: 592px;
    height: 192px;

    margin-right: 17px;
    background: url(image.png);
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.25));
}

main .content{
    height: 592px;

}

main .content-bgi{
    position: absolute;
    width: 1441px;
    height: 570px;
    z-index: -1;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url(image.png);
}

main  .content .text{
    margin-left: 104px;
}

main .content article{
    font-family: 'Bellota Text', cursive;

    width: 389px;
    height: 448px;

    margin-left: 16px;

    float: left;
}
main .content article h3{

    margin: 0;
    padding: 0;
    padding-top: 69px;
    margin-bottom: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 52px;
    text-align: center;

    color: #FFFFFF;
}
main .content article p{
    width: 320px;
    height: 384px;

    margin: 0;
    padding: 0;
    margin-left: 34px;

    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

/* FOOTER */

footer{
    position: fixed;
    width: 1441px;
    height: 123px;

    bottom: 0; /*870*/
    background-color: black;
    color: white;
}
footer .text{
    margin-left: 221px;
}
footer span{
    width: 389px;
    height: 123px;
    float: left;
    display: flex;

    margin: 0;
    padding: 0;
    padding-top: 31px;

    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;


    color: #FFFFFF;
}
